<div class="group">
    <div class="group-1">
        <img src="/assets/nsightgroup.svg" />
    </div>
    <div class="group-2">
        <p> Our Brands: </p>
        <div class="group-3">
            <div>
                <img src="/assets/nsightlogo.svg" class="tech" />
            </div>
            <div>
                <img src="/assets/nsightintel.svg" class="intel" />
            </div>
            <div>
                <img src="/assets/nsightrack.svg" class="track" />
            </div>
        </div>

    </div>

</div>